:host {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;

  input {
    background-color: black;
    border: 1px solid white;
    caret-color: white;
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 2vmin;
    font-size: 4vmin;
    font-family: "Roboto", "Helvetica Neue", sans-serif;

    &::placeholder {
      color: white;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: white;
    }
    &::-ms-input-placeholder {
      color: white;
    }
  }

  .disconnected-message {
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background: indianred;
    border-radius: 4px;
    color: white;
    margin: 10px;
    font-size: 1em;
  }
}
