<div id="back-board-container">
  <div class="fields-top-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-right-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-bottom-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-left-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
</div>

<div id="board-container">
  <div class="fields-top-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-right-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-bottom-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
  <div class="fields-left-container fields-container">
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
    <div class="field-container"><div class="field"></div></div>
  </div>
</div>
