<div class="flex-container">
  <div id="back-board-container">
    <div class="fields-top-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-right-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-bottom-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-left-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
  </div>
</div>

<div class="flex-container">
  <div id="board-container">
    <div class="fields-top-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-right-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-bottom-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
    <div class="fields-left-container fields-container">
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
      <div class="field-container"><div class="field"></div></div>
    </div>
  </div>
</div>

<div class="flex-container round-items-container">
  <div class="power-item-container">
    <div class="round-item-container">
      <div class="background"></div>
      <div class="round-item">
        <div class="disabled"></div>
      </div>
    </div>
    <div class="special-offer-container">
      <div class="animation-container"></div>
    </div>
  </div>

  <div class="normal-items-container">
    <div class="round-item-container">
      <div class="background"></div>
      <div class="round-item">
        <div class="disabled"></div>
      </div>
    </div>
    <div class="round-item-container">
      <div class="background"></div>
      <div class="round-item">
        <div class="disabled"></div>
      </div>
    </div>
    <div class="round-item-container">
      <div class="background"></div>
      <div class="round-item">
        <div class="disabled"></div>
      </div>
    </div>
  </div>
</div>
