:host {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.flex-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

$fieldSize: 60px;
$fieldsInRow: 9;
$boardContainerSize: $fieldSize * ($fieldsInRow + 2);
$fieldsContainerSize: $fieldSize * $fieldsInRow;

.fields-container {
  display: flex;
  width: $fieldsContainerSize;
  height: $fieldSize;
  position: absolute;
  padding-left: $fieldSize;
  transform-origin: ($boardContainerSize/2) ($boardContainerSize/2);
}

.field-container {
  width: $fieldSize;
  height: $fieldSize;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .field {
    width: 90%;
    height: 90%;
    background-color: lightcyan;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.fields-right-container {
  transform: rotate(90deg);
  .field {
    transform: rotate(-90deg);
  }
}

.fields-bottom-container {
  transform: rotate(180deg);
  .field {
    transform: rotate(-180deg);
  }
}

.fields-left-container {
  transform: rotate(270deg);
  .field {
    transform: rotate(-270deg);
  }
}

#board-container {
  height: $boardContainerSize;
  width: $boardContainerSize;
  background-color: lightsalmon;
  position: relative;
  display: inline-block;

  .field {
    transform: rotate(90deg);
  }
}

$backBoardContainerSize: 800px;
$fieldsContainerPadding: ($backBoardContainerSize - $boardContainerSize)/2 + $fieldSize;
$fieldsContainerPadding2: ($backBoardContainerSize - $boardContainerSize)/2 - $fieldSize;

#back-board-container {
  background-color: red;
  width: $backBoardContainerSize;
  height: $backBoardContainerSize;
  position: absolute;

  .fields-container {
    padding-top: $fieldsContainerPadding2;
    padding-left: $fieldsContainerPadding;
    transform-origin: ($backBoardContainerSize/2) ($backBoardContainerSize/2);
  }
}

.round-items-container {
  flex-direction: column;

  .round-item {
    width: $fieldSize * 2;
    height: $fieldSize * 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: yellowgreen;
    display: inline-block;
    position: relative;

    .disabled {
      background-size: contain;
      display: none;
      width: 100%;
      height: 100%;
      background-image: url("../../../../assets/graphics/disabled.png");
    }
  }
  .power-item-container {
    .round-item {
      width: $fieldSize * 3;
      height: $fieldSize * 3;
      background-color: lightgray;
    }
  }
  .round-items-container {

  }
}

