:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 60px;

  & > div {
    display: flex;
    width: 100%;
    align-items: center;
    & > * {
      flex: 1;
    }
  }
}

button {
  &:last-child {
    margin-right: 0;
  }
}

.actions-container {
  hr {
    margin: 0;
    max-width: 4px;
    height: 10px;
    outline: none;
    border: none;
  }
}

.no-actions-container > span {
  text-align: center;
}
