<div *ngIf="isPlayerOnChair" class="actions-container">
  <button *ngIf="!isGameOn" mat-flat-button color="primary" (click)="toggleReady()">{{ isPlayerReady ? 'NOT READY' : 'READY' }}</button>
  <hr *ngIf="!isGameOn">
  <button mat-flat-button (click)="tableStandFrom()">CANCEL</button>
</div>
<div *ngIf="!isPlayerOnChair" class="no-actions-container">
  <button *ngIf="isAnyChairFree" mat-flat-button color="primary"
          (click)="tableSitTo()">PLAY</button>
  <button *ngIf="!isPlayerInQueue && !isAnyChairFree" mat-flat-button color="primary"
          (click)="tableSitTo()">TO QUEUE</button>
  <button *ngIf="isPlayerInQueue && !isAnyChairFree" mat-flat-button color="primary"
          (click)="tableStandFrom()">CANCEL</button>
  <span *ngIf="playerQueuePosition">Queue pos: {{ playerQueuePosition }}</span>
</div>
