:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  min-width:140px;
}

.actions-container {
  button {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.no-actions-container {

}

