:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  min-width:140px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.actions-container {

}

.no-actions-container {

}

