<div *ngIf="isPlayerOnChair" class="actions-container">
  <button *ngIf="!isGameOn" mat-flat-button color="primary" (click)="toggleReady()">{{ isPlayerReady ? 'NOT READY' : 'READY' }}</button>
  <button mat-flat-button (click)="tableStandFrom()">STAND UP</button>
</div>
<div *ngIf="!isPlayerOnChair" class="no-actions-container">
  <button *ngIf="isAnyChairFree" mat-flat-button color="primary"
          (click)="tableSitTo()">SIT ON CHAIR</button>
  <button *ngIf="!isPlayerInQueue && !isAnyChairFree" mat-flat-button color="primary"
          (click)="tableSitTo()">SIT IN QUEUE</button>
  <button *ngIf="isPlayerInQueue && !isAnyChairFree" mat-flat-button color="primary"
          (click)="tableStandFrom()">STAND FROM QUEUE</button>
  <span *ngIf="playerQueuePosition">QUEUE POSITION: {{ playerQueuePosition }}</span>
</div>
