<div *ngIf="isPlayerOnChair" class="actions-container">
  <button mat-flat-button color="primary" (click)="toggleReady()">{{ isPlayerReady ? 'NOT READY' : 'READY' }}</button>
  <button mat-flat-button (click)="tableStandFrom()">STAND UP</button>
</div>
<div *ngIf="!isPlayerOnChair" class="no-actions-container">
  <button *ngIf="isAnyChairFree" mat-flat-button color="primary" (click)="tableSitTo()">SIT ON CHAIR</button>
  <button *ngIf="!isUserInQueue && !isAnyChairFree" mat-flat-button color="primary" (click)="toggleReady()">SIT IN QUEUE</button>
  <button *ngIf="isUserInQueue && !isAnyChairFree" mat-flat-button color="primary" (click)="toggleReady()">STAND FROM QUEUE</button>
</div>
