<div *ngIf="playerName" class="player-container">
  <div class="is-ready-container">
    <div class="janush-image-container">
      <img [class.is-ready]="playerIsReady" src="../../../../assets/graphics/janush{{ chairId }}.png" alt="Janush">
    </div>
  </div>
  <div class="player-name-container">
    <div class="name">{{ playerName }}</div>
    <div class="player-info-container">
      wins: {{ playerWin }},
      loses: {{ playerLost }}
<!--      s: {{ playerWinstreak }},-->
<!--      ms: {{ playerMaxWinstreak }}-->
    </div>
  </div>
  <div class="points-container">
      <div>{{meplePoints}}</div>
  </div>
</div>
<div *ngIf="!playerName" class="no-player-container name">
  No player
</div>
