<div class="background"></div>
<div class="messages-container">
  <div class="fake-message-element-for-flex"></div>
  <div *ngFor="let message of messages" class="message"
       [class.system]="CHAT_SYSTEM === message[PARAM.CHAT_PLAYER_NAME]">
    <b>{{ message[PARAM.CHAT_PLAYER_NAME] }}:</b> {{ message[PARAM.CHAT_MESSAGE]}}
  </div>
</div>

<div class="input-container">
  <form (submit)="submitMessage(chatInput.value)">
    <input #chatInput type="text" [maxLength]="CHAT_MESSAGE_MAXLENGTH">
  </form>
</div>
