:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: black;
  opacity: .15;
}

#main-container {
  display: flex;
  position: relative;
  width: calc(var(--backboard-size) + 300px);
  height: calc(var(--backboard-size) + 60px);
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../../../assets/graphics/tile2.png");

  #left-container {
    width: var(--backboard-size);
    height: 100%;
    display: flex;
    flex-direction: column;

    #chairs-container {
      display: flex;
      width: 100%;
      max-width: 100%;
      position: relative;
      height: 60px;
    }

    #game-container {
      flex: 1;
    }
  }

  #right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;

    #actions-container {
      width: 100%;
      height: 60px;
    }

    #chat-container {
      flex: 1;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
