<name-component
  *ngIf="!isPlayerRegistered"
  (onRegistered)="isPlayerRegistered = $event"
></name-component>

<div id="main-container">
  <div id="left-container">
    <div id="chairs-container">
      <div class="background"></div>
      <chair-component [chairId]="GENREAL_ID.ID1"></chair-component>
      <chair-component [chairId]="GENREAL_ID.ID2"></chair-component>
    </div>
    <div id="game-container">
      <game-component></game-component>
    </div>
  </div>
  <div id="right-container">
    <div class="background"></div>
    <div id="actions-container">
      <actions-component></actions-component>
    </div>
    <div id="chat-container">
      <chat-component></chat-component>
    </div>
  </div>
</div>
